{% extends "layout.html" %}

{% block content %}

<div class="chat-header">
    <h2># Общий чат</h2>
</div>

<div id="chat-box" class="chat-box"></div>

<form method="POST" class="chat-form">
    <input type="text" name="message"
           placeholder="Написать сообщение..."
           autocomplete="off"
           required>
    <button type="submit">Отправить</button>
</form>

<script>
let lastMessageCount = 0;

function loadMessages() {
    fetch("/get_messages")
        .then(response => response.json())
        .then(data => {

            const chatBox = document.getElementById("chat-box");

            const isAtBottom =
                chatBox.scrollHeight - chatBox.scrollTop <= chatBox.clientHeight + 5;

            // Если сообщений стало больше — добавляем только новые
            if (data.length > lastMessageCount) {

                for (let i = lastMessageCount; i < data.length; i++) {
                    const msg = data[i];

                    const messageHTML = `
                        <div class="chat-message">

                            <img class="mini-avatar"
                                 src="${msg.avatar_url}">

                            <div class="chat-content">
                                <strong>
                                    <a class="chat-username"
                                       href="/profile/${msg.username}">
                                       ${msg.username}
                                    </a>
                                </strong>
                                <div>${msg.text}</div>
                                <small>(${msg.time})</small>
                            </div>

                        </div>
                    `;

                    chatBox.insertAdjacentHTML("beforeend", messageHTML);
                }

                if (isAtBottom) {
                    chatBox.scrollTop = chatBox.scrollHeight;
                }

                lastMessageCount = data.length;
            }
        });
}

// Первая загрузка
loadMessages();

// Обновление
setInterval(loadMessages, 2000);
</script>


{% endblock %}
